<h1 class="text-light retro-title text-center">Ces Magasins <br>proposent des jeux <br> correspondant à votre recherche : <br> "<span class="text-strong"><%= params[:game_name] %></span>"</h1>
<div class="d-flex flex-column">
  <%@stores.each do |store|%>
    <span class="tdn">
    <%= link_to store_path(store, game_name: params[:game_name]) do %>
      <div class="card-store">
        <%= cl_image_tag store.picture.key, class: "store-photo" %>
        <div class="card-store-infos">
          <h2><%=store.name%></h2>
          <% if @localisation %>
            <p>Se trouve à <span class="text-strong"><%= store.distance_to(@localisation).round %> km</span> de vous</p>
          <% end %>
        </div>
      </div>
      </span>
    <%end%>
  <%end %>
</div>
