<div class="container">
  <div class="row">
    <div class="bento-wrapper">

      <!-- Bouton pour commencer un nouveau combat -->
      <%= link_to new_battle_path, class: "action-btn fight-btn" do %>
        <div class="card green-card">
          <div class="content">
            <%= image_tag "vs.png", alt: "vs.png", class: "img-responsive" %>
            <p class="bold-text">Lets fight</p>
          </div>
        </div>
      <% end %>

      <!-- Affichage de la dernière bataille -->
      <%= link_to battles_path, class: "action-btn battle-btn" do %>
        <div class="card red-card">
          <p class="bold-text small-text">Dernière bataille</p>
          <p class="bold-text">
            <% if @winning_game.present? %>
              <%= cl_image_tag @winning_game.picture.key, class: "img-round" %>
            <% else %>
              Pas de bataille effectuée
            <% end %>
          </p>
        </div>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="bento-wrapper2">
      <div class="booking-section">

        <!-- Affichage de la dernière réservation ou message si aucune réservation -->
        <%= link_to root_path, class: "action-btn booking-btn" do %>
          <div class="card booking-card">
            <% if @booking_last.present? %>
              <%= render 'timer', booking_last: @booking_last %>
            <% else %>
              <p class="no-booking">Pas de réservation en cours</p>
            <% end %>
          </div>
        <% end %>

        <!-- Bouton pour voir plus d'informations ou pour ouvrir un modal -->
        <div class="info-btn" data-action="click->modal#open">
          <%= render 'button' %>
        </div>

      </div>

      <!-- Lien vers la page des réservations en cours -->
      <%= link_to bookings_path, class: "action-btn reservation-btn" do %>
        <div class="card reservation-card">
          <%= image_tag "reservation.png", alt: "reservation.png", class: "img-icon" %>
          <p class="bold-text">Vos réservations en cours</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
