<div class="container">
  <h1 class="text-light"><%= @game.title %></h1>
  <div class="d-flex justify-content-center mt-4 ">
  <%= cl_image_tag @game.picture.key, class:  "card-img-top"%>
</div>
<div class="d-flex justify-content-between mt-3">
  <p class="tag"><%= @game.category %></p>
  <p class="tag"><%= @game.console.name %></p>
  <p class="tag"><%= @game.condition %></p>
</div>
<div class="game-card mb-5">
  <div class="game-infos" >
    <%= @game.description %></p>
  </div>
</div>
  </div>
  <div class="container select">
  <div class="container-fluid d-flex justify-content-around">
    <% if @game.store.user != current_user %>
  <%= link_to "A",  game_bookings_path(@game),  class: "xbtn-a", data: {
    turbo_method: :post,
    controller: "alert",
    alert_game_id_value: @game.id,
    action: "click->alert#initSweetalert"
      } %>
  <p><strong><%= @game.price %></strong> € seulement</p>
  <%= link_to "B", store_path(@game.store), class: "xbtn-b" %>
  <% else %>
  <div class="d-flex gap-5">
    <%= link_to  edit_seller_game_path(@game), class:'d-block' do %>
      <i class="fa-solid fa-pencil fa-2x" style="color: #ffffff;"></i>
    <% end %>
  <%= link_to seller_game_path(@game),class:'d-block', data: {turbo_method: :delete,
                                                confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash fa-2x" style="color: #ffffff;"></i>
    <% end %>
  </div>
    <% end %>
  </div>
</div>
