

<div class="test-container" data-controller="flip" data-flip-battle-id-value="<%=@battle.id%>">
  <button class= "xbtn-b-battle">  FINISH HIM </button>
  <div class="swiper-container" data-flip-target="swiper1" data-flip-games1="<%= @first_games.map(&:id).join(',') %>">
    <div class="swiper-wrapper">

      <% @first_games.each_with_index do |first_game, index| %>
        <div class="swiper-slide card" style="--i:<%= index + 1 %>" data-flip-target="card" data-flip-target="image" data-game-id="<%= first_game.id %>" data-game-name="<%= first_game.title %>">
          <%= cl_image_tag first_game.picture.key, data:{flip_target:"image"} %>
        </div>
      <% end %>
    </div>
  </div>


  <img src="<%= asset_path 'background/TextStudio Animated VS.gif' %>" alt="VS" style ="height: 77px">
  <div class="swiper-container" data-flip-target="swiper2" , data-flip-games2="<%= @second_games.map(&:id).join(',') %>">
    <div class="swiper-wrapper">

      <% @second_games.each_with_index do |second_game, index| %>
        <div class="swiper-slide card" style="--i:<%= index + 1 %>" data-flip-target="card" data-flip-target="image" data-game-id="<%= second_game.id %>" data-game-name="<%= second_game.title %>">
           <%= cl_image_tag second_game.picture.key, data:{flip_target:"image"} %>
        </div>
      <% end %>
    </div>
  </div>
  <button class= "xbtn-b-battle">  FINISH HIM </button>
  <div id="game-modal" class="game-modal">
    <img id="game-modal-image" src="" alt="Game image" class="game-modal-image">
    <h1 id="game-modal-title" class="game-modal-title"></h1>
    <%= link_to "Rechercher ce jeu", "",class:"battlefinish",data: { flip_target: "link" } %>
  </div>
  <div id="modal-backdrop"></div>
</div>
